<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{% block title %} Hook {% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'account/assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				{% block header %}
                    <h1>Send Us Your Mix</h1>
				<p>Upload your mix blah blah<br />
				blah</p>
				{% endblock %}
			</header>


			<form id="signup-form" method="post" action="" enctype="multipart/form-data" novalidate >
				{% block form %}
				{% csrf_token %}
				<table>
        			{{ form }}
        			</table>
				{% endblock %}

				<input type="submit" value="Submit" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
                                        <li><a href="" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
                                        <li><a href="" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="" class="icon brands fa-reddit"><span class="label">Reddit</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; HookToken.</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script>
                                var settings = {

                                        // Images (in the format of 'url': 'alignment').
                                                images: {
                                                        "{% static 'backgrounds/bg01.jpeg' %}" : 'center',
                                                        "{% static 'backgrounds/bg02.jpeg' %}" :'center',
                                                        "{% static 'backgrounds/bg03.jpeg' %}" : 'center',
                                                        "{% static 'backgrounds/bg04.jpeg' %}" : 'center',
                                                        "{% static 'backgrounds/bg05.jpeg' %}" : 'center',
							                    },

                                        // Delay.
                                                delay: 6000

                                };
                        </script>
			<script src="{% static 'account/assets/js/main.js' %}"></script>
            <script src="{% static 'account/web3auth/web3auth.js' %}"></script>


	</body>
</html>

