{% extends 'base.html' %}


{% block content %}

		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Hook Token</h1>
						<p>Coming Soon</p>
						<nav>
							<ul>
								<li><a href="#" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>




			</div>
		</div>
{% endblock %}

<script src="{% static 'web3auth/web3auth.js' %}"></script>